<section>
    <header class="container h-100">
        <div class="d-flex align-items-center justify-content-center h-100">
            <h2>Total Created Posts -> 0</h2>
        </div>
    </header>
</section>

<section id="btns" class="h-100">
  <header class="container h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="d-flex flex-column">
        <button type="button" class="btn btn-success btn-lg">Add post</button>
        <button type="button" class="btn btn-danger btn-lg">Delete post</button>
        <button type="button" class="btn btn-warning btn-lg">Edit post</button>
      </div>
    </div>
  </header>
</section>
